* {
    box-sizing: border-box;
    font-family: Futura, sans-serif;
    font-size: 16px;
}

pre {
    overflow: scroll;
    background-color: #f4f4f4;
}

header {
    font-size: 24px;
    font-weight: bold;
}

.main-title {
    font-size: 32px;
}

main,
nav {
    padding: 10px;
}

p,
td {
    text-align: justify;
}

code {
    font-size: 13px;
    background-color: #f4f4f4;
    font-family: "Source Code Pro";
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

ul {
    list-style: inside;
    padding-left: 0;
}
