* {
    box-sizing: border-box;
    font-family: Futura, sans-serif;
    font-size: 16px;
}

pre {
    overflow: auto;
}

header {
    font-size: 24px;
    font-weight: bold;
}

.main-title {
    font-size: 32px;
    text-align: center;
}

main,
nav {
    padding: 10px;
}

p,
td {
    text-align: justify;
}

code {
    background-color: rgb(246, 246, 246);
    color: rgb(47, 51, 55);
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 16px;
}

td {
    word-wrap: break-word;
}

ul {
    list-style: inside;
    padding-left: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}

th:first-child {
    width: 105px;
}

td:first-child {
    text-align: center;
}

nav ul {
    list-style: none;
    width: fit-content;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: black;
}

.links-container {
    border-top: 5px groove black;
    border-bottom: 5px groove black;
    margin-top: 10px;
}

nav li {
    padding: 5px;
    border-bottom: 1px solid black;
}

nav li:last-child {
    border-bottom: none;
}

nav {
    margin-bottom: 35px;
}

h3 {
    font-size: 18.72px;
}

section > *:last-child {
    margin-bottom: 6px;
}

section > *:nth-child(2) {
    margin-top: 6px;
}

section header {
    padding-top: 10px;
    padding-bottom: 10px;
}

section ul {
    margin-bottom: 0;
}

@media (min-width: 962px) {
    body {
        margin: 0;
    }
    nav {
        position: fixed;
        left: 40px;
    }
    main {
        margin-left: 250.3px;
    }
    nav li {
        border-bottom: none;
        list-style: inside;
    }
    .links-container {
        border: none;
    }
    nav li::marker {
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        color: black;
        font-size: 16px;
        font-weight: 900;
    }
    body {
        padding: 10px 40px;
    }
    .main-title {
        text-align: left;
    }
}
