* {
    box-sizing: border-box;
    font-family: Futura, sans-serif;
    font-size: 16px;
}

pre {
    overflow: auto;
}

h1,
h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.main-title {
    font-size: 32px;
    text-align: center;
}

main,
nav {
    padding: 10px;
}

p,
td {
    text-align: justify;
}

code {
    background-color: rgb(246, 246, 246);
    color: rgb(47, 51, 55);
}

table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 16px;
}

td {
    word-wrap: break-word;
}

ul {
    list-style: inside;
    padding-left: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}

th:first-child {
    width: 105px;
}

td:first-child {
    text-align: center;
}

nav ul {
    list-style: none;
    width: fit-content;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: black;
}

.links-container {
    border-top: 5px ridge black;
    border-bottom: 5px groove black;
    margin-top: 10px;
}

nav li {
    padding: 5px;
    border-bottom: 1px solid black;
}

nav li:last-child {
    border-bottom: none;
}

nav {
    margin-bottom: 0;
}

h3 {
    font-size: 18.72px;
    margin: 16px 0;
}

section > *:last-child {
    margin-bottom: 6px;
}

section > *:nth-child(2) {
    margin-top: 6px;
}

section h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

section ul {
    margin-bottom: 0;
}

@media (min-width: 962px) {
    nav {
        position: fixed;
        left: 40px;
        top: 30px;
        padding: 10px 0 0 0;
    }
    main {
        margin-left: 271.281px;
    }
    nav li {
        border-bottom: none;
        list-style: inside;
    }
    .links-container {
        border: none;
    }
    nav li::marker {
        font-family: "Font Awesome 5 Free";
        content: "\f105";
        color: black;
        font-size: 16px;
        font-weight: 900;
    }
    body.dark nav li::marker {
        color: white;
    }
    body {
        padding: 30px 40px;
        margin: 0;
    }
    .main-title {
        text-align: left;
    }
    .nav-link {
        padding: 5px;
        font-weight: bold;
    }
    .nav-link.active,
    .nav-link:hover {
        background-color: black;
        color: white;
    }
    body.dark nav a:hover,
    body.dark nav a.active {
        background-color: white;
        color: #121212;
    }
    nav a:hover,
    nav a.active {
        transition-property: background-color, color;
        transition-timing-function: linear;
        transition-duration: 200ms;
    }
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    height: 26px;
    width: 50px;
    background-color: black;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.toggle {
    margin: 20px auto 0;
    width: fit-content;
    margin-bottom: 35px;
}

.ball {
    width: 22px;
    height: 22px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2ms linear;
}

.checkbox:checked + .label .ball {
    transform: translate(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

body.dark {
    background-color: #121212;
    color: white;
}

body {
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

body.dark * {
    border-color: white;
}

* {
    transition: border-color 200ms linear;
}

body.dark nav a {
    color: white;
}

nav a {
    transition: color 200ms linear;
}

body.dark .label {
    border: 1px solid white;
}

.label {
    transition: border 200ms linear;
}

pre code {
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

body.dark code {
    background-color: rgb(28, 27, 27);
    color: white;
}

code {
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: linear;
}
